body
{
    background: rgb(73, 73, 73);
}

.navbar-collapse, .nav-link
{
    justify-content: flex-end;
    color: white;
}

.nav-link:hover
{
    color: rgb(255, 162, 0);
}

.navbar-brand, .navbar-brand:hover
{
    color: white;
}

.navbar 
{
    background: rgb(50, 50, 50);
    margin: 50px;
}

.sliderHead
{
    font-size: 50px;
    color: rgb(255, 162, 0);
    background: rgb(50, 50, 50);
    border-left: solid orange 10px;
}

.sliderTail
{   
    padding-left: 100px;
    font-size: 15px;
    color: white;
    background: rgb(50, 50, 50); 
}

.container-fluid
{
    margin: 0px 0px 20px 0px;
}

.sliderOption
{
    background-color: rgb(255, 162, 0);
    border-width: 0px;
    border-radius: 20px;
    margin: 5px 10px 5px 10px;
}

.debug
{
    border: solid;
}