body
{
    background: rgb(73, 73, 73);
}

.navbar-collapse, .nav-link
{
    justify-content: flex-end;
    color: white;
}

.nav-link:hover
{
    color: rgb(255, 162, 0);
}

.navbar-brand, .navbar-brand:hover
{
    color: white;
}

.navbar 
{
    background: rgb(50, 50, 50);
    margin: 50px;
}

.sliderHead
{
    font-size: 50px;
    color: rgb(255, 162, 0);
    background: rgb(50, 50, 50);
    border-left: solid orange 10px;
}

.info
{
    background: rgb(50, 50, 50);
    border-right: solid green 10px;
    color: white;
}

.infoHead
{
    font-size: 50px;
    color: green;
    background: rgb(50, 50, 50);
    border-right: solid green 10px;
}

.sliderTail
{   
    padding-left: 100px;
    font-size: 15px;
    color: white;
    background: rgb(50, 50, 50); 
}

.container-fluid
{
    margin: 0px 0px 20px 0px;
    overflow: hidden;
}

.sliderOption
{
    background-color: rgb(255, 162, 0);
    border-width: 0px;
    border-radius: 20px;
    margin: 5px 10px 5px 10px;
}

.debug
{
    border: solid;
}

.display-appear
{
    margin-left: 100%;
}

.display-appear-active
{
    margin-left: 0%;
    transition: margin-left 1s;
}

.display-enter
{
    margin-left: 100%;
}

.display-enter-active
{
    margin-left: 0%;
    transition: margin-left 1s;
}

.display-exit
{
    margin-left: 0%;
}

.display-exit-active
{
    margin-left: 100%;
    transition: margin-left 1s;
}

.rightdisplay-appear
{
    margin-left: -1000px;
}

.rightdisplay-appear-active
{
    margin-left: 0px;
    transition: margin-left 1s;
}

.rightdisplay-enter
{
    margin-left: -1000px;
}

.rightdisplay-enter-active
{
    margin-left: 0px;
    transition: margin-left 1s;
}

.rightdisplay-exit
{
    margin-left: 0px;
}

.rightdisplay-exit-active
{
    margin-left: -1000px;
    transition: margin-left 1s;
}